.login-style {
    display: flex;
    margin: 2rem auto;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    max-width: 20rem;
}

.login-input {
    margin: 0.2rem;
}