.compose-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 0 0 auto;
    justify-content: center;
    margin: 0.2rem;
    border-top: solid 1px;
    padding-top: 0.1rem;
}

.compose-text-field {
    flex-grow: 1;
    margin: 0.1rem;
}