.compose {
    display: flex;
    flex-direction: row;
    margin: 0 0.2rem 0.2rem 0.2rem;
    border-top: solid 1px;
    padding-top: 0.1rem;
}

.text-field {
    flex: 1 1 0;
    margin: 0.1rem;
    border-radius: 30px;
    border: 1px solid black;
    word-break: break-word;
    padding: 0.5rem 1.5rem;
}

.send-button {
    border-radius: 15px !important;
}