.message-list-style {
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
    flex: 1 1 0;
    overflow: auto;
}

.conversation-header {
    display: flex;
    align-items: center;
    font-weight: bold;
    height: 2rem;
    background: lightgray;
    border-bottom: solid 1px;
    padding-left: 0.4rem;
}

.messages-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}